<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="my-first-element">
  <template strip-whitespace>
    <style>
      paper-button.info {

        /* this is css variable */
        --paper-button-ink-color : blue;

        /* this is a mixin */
        --paper-button : {
            background-color: #236192;
            color: #ffffff;
            font-weight: 400;
            line-height: 1.1;
            text-transform: capitalize;
            letter-spacing: .5px
        };
      }

      p.title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0 0 6px 0;
        color: #0094CB;
        letter-spacing: .5px;
      }
    </style>

    <slot name="header">
      <!-- this is default content for slot-->
      default header<br>
    </slot>

    <!-- default path is main docs path -->
    <paper-card --paper-card-header-color="green" image="[[importPath]]project.png">
    <!--<paper-card --paper-card-header-color="green" image="[[importPath]]demo/project.png">-->
      <div class="card-content">
        <p class="title">[[projectObject.title]]</p>
        <!-- This is how you can repeat elements-->
        <template is="dom-repeat" items="{{projectObject.attributes}}">
          [[item.name]] : [[item.value]] <br>
        </template>
        <p style="float:right"><paper-button id="infobutton" class="info" raised on-click="propagateInfoClick">Info</paper-button></p>
        <p style="float:right"><paper-button id="propbutton" class="info" raised on-click="_onPropButtonClick">Change prop value</paper-button></p>
      </div>
      <!-- this is default  slot -->
      <slot></slot>
    </paper-card>     

    <slot name="footer" on-click="footerAlert"></slot>
  </template>

  <script>
    /**
     * `my-first-element`
     * my first element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html  
     */
    class MyFirstElement extends Polymer.Element {
      /*
        Use '-' for element name and attribute name.
        Use boolean for boolean values
        <my-element selected> instead of <my-element selected="true">
      */
      static get is() { return 'my-first-element'; }
      static get properties() {
        return {
          testprop: {
            type: Number,
            value: 0,
            notify: true
          },
          projectObject: {
            type: Object
          }
        };
      }

      constructor (){
        super();
        console.log("In constructor");
        //document.addEventListener('dblclick', this._dblclick);
      }
      
      /*
        you need to use connectedCallback() and disconnectedCallback() to add and remove the event Listener on outside elements
        It is important to remove the event listener in disconnectedCallback() to prevent memory leaks.
      */
      connectedCallback() {
        console.log("In connected call back");
        super.connectedCallback();
        document.addEventListener('dblclick', this._resizeWindow);
        document.addEventListener('dblclick', this._dblclick);
      }

      disconnectedCallback() {
        console.log("In dis-connected call back");
        super.disconnectedCallback();
        document.removeEventListener('dblclick', this._dblclick);
      }

      _dblclick() {
        alert("Window dblclick");
      }

      _resizeWindow() {
        alert("Window resize");
      }

      /*
        This is how you can throw custom events,
        by default it is non bubbling and non composed event
      */
      propagateInfoClick() {
        const infoButton = this.shadowRoot.querySelector('#infobutton');
        infoButton.dispatchEvent(new CustomEvent('info-click', {
          bubbles: true, 
          composed: true, 
          detail: "some details"}));
      }
      
      /*
       choose an appropriate point in a custom element lifecycle callback at which to add the listener.
       To make a custom event pass through shadow DOM boundaries, set the composed flag to true when you create the event:
       */
      ready() {
        console.log("In ready");
        super.ready();
        this.addEventListener('click', this._onClick);
        const infoButton = this.$.infobutton;
        /*
          If you need to imperatively set up the listener, it is important to bind the this value using .bind() or using an arrow function.
        */
        infoButton.addEventListener('click', this._onButtonClick);

      }

      _onClick(event) {
        //alert('custom element is clicked'+ event);
        //console.info('Main target is:', event.target);
      }

      _onButtonClick(event) {
        //alert('custom element is clicked1'+event);
        //console.info('button target is:', event.target);
        //console.info('composedPath is:', event.composedPath());
        console.log('this =>'+this.id);
      }

      _onPropButtonClick(event) {
        this.testprop++;
        console.log('prop value'+this.testprop);
      }

      footerAlert(){
        alert("footer clicked");
      }
    }
    
    window.customElements.define(MyFirstElement.is, MyFirstElement);
  </script>
</dom-module>
